html {
    background: #1C1C1C;
}

body {
    font-family: "Karla", sans-serif;
    margin: 70px 0;
}

section {
    background: #1F2937;
    height: 500px;
    width: 550px;
    margin: 0 auto;
    padding: 115px 52px;
}

#password-one {
    background: #414955;
    color: #4ADF86;
    font-size: 20px;
    border-radius: 6px;
    padding: 12px 15px 9px 15px;
    display: inline-block;
    width: 211px;
    height: 30px;
    text-align: center;
}

#password-two {
    background: #414955;
    color: #4ADF86;
    font-size: 20px;
    border-radius: 6px;
    padding: 12px 15px 9px 15px;
    display: inline-block;
    width: 211px;
    height: 30px;
    text-align: center;
    margin-left: 64px;
}

h1 {
    color: white;
    font-size: 40px;
    font-optical-sizing: auto;
    font-weight: 800;
    margin-bottom: 20px;
}

#rp {
    color: #4ADF86;
}

h3 {
    color: #D5D4D8;    
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
}

#generate-btn {
    font-family: "Karla", sans-serif;
    font-size: 20px;
    background: #4ADF86;
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    padding: 12px 15px;
    cursor: pointer;
}

.line {
    background-color: #414955;
    height: 1px;
    border: none;
    margin: 40px 0 20px 0;
    
}

#btn-section {
    margin-top: 0px;
    margin-bottom: 30px;
    max-height: 91px;
    max-width: 550px;
}

#signature {
    color: #D5D4D8;
    font-size: 15px;
    margin-top: 100px;
    
}

/* @media (max-width: 430px) {
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section {
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 30px;
        text-align: center;
    }

    #password-one, #password-two {
        width: 100%;
        margin-bottom: 10px;
        padding: 17px 3px 5px 3px;
        height: 40px;
        font-size: 18px;
    }

    #password-two {
        margin-left: 0;
    }

    #generate-btn {
        width: 50%;
        padding: 15px 5px;
        font-size: 18px;
    }

    .line {
        margin: 20px 0;
    }

    #signature {
        margin-top: 150px;
        text-align: center;
    }

    #btn-section {
        max-height: 91px;
        max-width: 550px;
    }
} */

/* MOBILE */

@media (max-width: 500px) {
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section {
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 30px;
        text-align: center;
    }

    #btn-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 500px;
            max-width: 500px;
            overflow: hidden;
            text-align: center;
    }
    

    #password-one {
        width: 50%; /* Assure que la taille reste constante */
        height: 20px; /* Fixe la hauteur pour éviter qu'il s'étire */
        padding: 20px 10px 20px 10px;
    }
    #password-two {
        width: 50%; /* Assure que la taille reste constante */
        height: 20px; /* Fixe la hauteur pour éviter qu'il s'étire */
        margin: 0 0;
        padding: 20px 10px 20px 10px;
        
    }

    #generate-btn {
        width: 50%;
        padding: 15px 5px;
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .line {
        margin: 20px 0;
    }

    #signature {
        margin-top: 150px;
        text-align: center;
    }
}    